In [1]:
import pandas as pd
import numpy as np

In [8]:
#regularizing closeness
data = pd.read_csv('../data/closeness.csv', index_col=False, header=None)
data.columns = ['user_id', 'closeness']
data.to_csv('closeness.csv')

data

          user_id  closeness
0       629551377   0.242167
1       327848576   0.194957
2       451749606   0.194957
3       434387169   0.194957
4      1132922689   0.194957
...           ...        ...
18933  2856142558   0.240561
18934  4253942961   0.240561
18935    56631494   0.240561
18936  4837566766   0.240561
18937   259836274   0.240561

[18938 rows x 2 columns]